body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 2rem auto;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    background-color: green;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.start-btn {
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

#participants-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;
}

#participants-table th,
#participants-table td {
    border: 1px solid #ddd;
    padding: 0.75rem;
    text-align: center;
}

.action-btn {
    padding: 0.4rem 0.7rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 0 0.3rem;
}

.edit-btn {
    background-color: orange;
}

.delete-btn {
    background-color: red;
}

.edit-btn,
.delete-btn {
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.popup.hidden {
    display: none;
}

.popup-actions button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirm-delete {
    background-color: red;
    color: white;
}

#cancel-delete {
    background-color: gray;
    color: white;
}

#message-popup button,
#save-form {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

input,
select {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.2rem;
    cursor: pointer;
}

.form-warning {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    text-align: center;
}

.participants-summary {
    margin-bottom: 1rem;
    font-weight: bold;
    color: #444;
}

#input-role{
    width: 107%;
}

.back-btn {
    margin-top: 2rem;
    display: block;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-group {
    display: flex;
    flex-flow: column;
    align-items: center;
}